body {
    font-family: Arial;
    background: #f4f6f8;
    margin: 0;
}

.container {
    text-align: center;
    padding: 30px;
}

.form-box {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    background: #2e8b57;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.navbar {
    background: #2e8b57;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.card {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

.emergency {
    color: red;
    margin-left: 20px;
}

.emergency-card {
    border: 2px solid red;
}