body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f7fb;
}

/* Navbar */
.navbar {
    background: #2c7be5;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container */
.container {
    width: 85%;
    margin: auto;
}

/* Card */
.card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Buttons */
button {
    background: #2c7be5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1a5fd1;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Emergency */
.emergency {
    background: #ff4d4d;
    color: white;
    padding: 15px;
    border-radius: 10px;
}